.heart {
  animation: heart 1.5s cubic-bezier(0.6, -0.28, 0.74, 0.05) infinite;
}

@keyframes heart {
  0% {
    opacity: 0.8;
    transform: scale(0.86);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0.8;
    transform: scale(0.86);
  }
}
